.DS_Store
*.framework
*~
runtime.json
node_modules
build/
DerivedData/
obj/
derived_src/
MediaManagerTouchServ/MediaManagerTouchServ.xcodeproj/project.xcworkspace/xcuserdata/*.xcuserdatad/UserInterfaceState.xcuserstate



